#teijishukaTable {
  width: auto;
}
.TeijishukaTable-print-btn {
  background-color: #11b08e;
  color: #ffffff;
  cursor: pointer;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius: 5px;
  border: 1px solid transparent;  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
